<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" >
</head>
<body>
<div class="content-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>File Upload</h2>
            <form action="" th:action="@{/fileupload}"  th:object="${user}" th:method="post" enctype="multipart/form-data">
            <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${success}">
                <strong th:text="${success}"> </strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${error}">
                <strong th:text="${error}"> </strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


                <div class="form-group">
                    <label  th:for="fileupload">File Upload</label>
                    <input type="file" class="form-control"   id="file" name="file" th:field="*{file}">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-md-12">
            <h2>Users</h2>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Email</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Photo</th>
                    <th scope="col">Payment Method</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Confirmation</th>
                    <th scope="col">Money Transferred</th>
                    <th scope="col">City</th>
                </tr>
                </thead>
                <tbody>
                <div th:each="user : ${users}">
                <tr >
                    <th  th:text="${user.id}"></th>
                    <td th:text="${user.name}"> </td>
                    <td th:text="${user.surname}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.gender}"></td>
                    <td th:text="${user.img}"></td>
                    <td th:text="${user.paymentMethods}"></td>
                    <td th:text="${user.amount}"></td>
                    <td th:text="${user.confirmation}"></td>
                    <td th:text="${user.moneyTransferred}"></td>
                    <td th:text="${user.city}"></td>
                </tr>
                </div>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>